<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    {{{dnsPrefetch}}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    {{#nofollow}}
        <meta name="robots" content="nofollow" />
    {{/nofollow}}
    <meta name="keywords" content="{{seo.keywords}}" />
    <meta name="description" content="{{seo.description}}" />
    <link rel="canonical" href="{{seo.canonical}}">
    {{{faviconIco}}}
    <title>{{ title }}</title>

    <!--全局js和css-->
    {{> common/global-css-js}}
    <!--页面布局css和组件的css-->
    {{#block "page-css"}}

    {{/block}}

</head>
<body>

    <!--引入页面的一些环境参数-->
    {{#block "js-env"}}
    <script>
        var lang = '{{lang}}';
        var from = '';
    </script>
    {{/block}}

    {{{ body }}}

