<!doctype html>
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8" />
    {{{dnsPrefetch}}}
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="renderer" content="webkit" />
    {{#nofollow}}
        <meta name="robots" content="nofollow" />
    {{/nofollow}}
    <meta name="keywords" content="{{seo.keywords}}" />
    <meta name="description" content="{{seo.description}}" />
    <link rel="canonical" href="{{seo.canonical}}">
    <!--@TODO noscript会不会影响seo-->
    <noscript>
        <meta http-equiv="refresh" content="0;URL='{{noscriptLink url}}'"/>
    </noscript>

    {{{faviconIco}}}
    <title>{{ title }}</title>

    <!--全局js和css-->
    {{> common/global-css-js}}

    <!--本页各组件的css-->
    {{#block "component-css"}}
        {{{cssCombo "css/default.css"}}}
    {{/block}}

    <!--本页易变动的css-->
    {{#block "volatile-css"}}
        {{{css "css/default.css"}}}
    {{/block}}

</head>
<body>

    <!--引入页面的一些环境参数-->
    {{#block "js-env"}}
    <script>
        var lang = '{{lang}}';
        var from = '';
    </script>
    {{/block}}

    <!--引入埋点代码-->
    {{> common/bp}}

    {{{ body }}}

    <!--引入框架-->
    {{#block "js-framework"}}
        {{{js ""}}}
    {{/block}}
    <!--组件相关js的引入-->
    {{#block "js-component"}}
        {{{js ""}}}
    {{/block}}
    <!--页面相关的js-->
    {{#block "js-page"}}
        <script>
            //page related
        </script>
    {{/block}}
</body>
</html>